[Unit]
Description=CBC lifecycle service
Requisite=cbc_attach.service
After=cbc_attach.service

[Service]
Type=simple
ExecStart=/usr/bin/cbc_lifecycle
Restart=no

[Install]
WantedBy=multi-user.target
