[Unit]
Description=CBC lifecycle service

[Service]
Type=simple
ExecStart=/usr/bin/u_cbc_lifecycle
Restart=no
ExecStop=/usr/bin/killall -s TERM u_cbc_lifecycle

[Install]
WantedBy=multi-user.target
