[Unit]
Description=CBC thermald service
After=u_cbc_attach.service
Conflicts=thermald.service

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/usr/bin/cbc_thermal & sleep 10; /usr/bin/thermald --no-daemon --ignore-cpuid-check --ignore-default-control --config-file /usr/share/defaults/cbc_thermal/thermal-conf.xml"
ExecStop=/usr/bin/bash -c "/usr/bin/killall -s TERM cbc_thermal; /usr/bin/killall -s TERM thermald"
Restart=no

[Install]
WantedBy=multi-user.target
