[Unit]
Description=CBC thermald service
Requisite=cbc_attach.service
After=cbc_attach.service
Conflicts=thermald.service

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/usr/bin/cbc_thermald_start"
Restart=no

[Install]
WantedBy=multi-user.target
